.ArticleDetail {
  width: 100%;
  max-width: 412px;
  margin: 0 auto;
  background: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

.ArticleDetail .detail-navbar {
  width: 100vw;
  max-width: 412px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  top: 0;     
}

.detail-navbar img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 0px 20px;
}

.detail-main {
  margin-top: 78px;
  display: flex;
  justify-content: center; /* 수평 중앙 */
}

.detail-main-img {
  width: auto;
  height: 412px;
}

.detail-body {
  padding: 16px 20px;
}

.detail-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}
.detail-date {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.detail-section {
  margin-bottom: 18px;

}
/* .detail-section h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}
.detail-section p {
  font-size: 13px;
  line-height: 1.7;
  color: #333;
} */

.detail-section .text1 {
  margin: 50px 0 20px 0 ;
}

.main-text {
  display: flex;
  justify-content: center; /* 수평 중앙 */
}

.detail-section .text3 {
  width: 78vw;
  max-width: 318px;
}

.sub-text {
  display: flex;
  justify-content: center; /* 수평 중앙 */
}

.sub-text .text5 {
  margin: 0;
}

.detail-sub-img {
  width: 100%;
  margin: 16px 0 0 0;
}
