/* src\styles\Article.css */

.Article {
  width: 100%;
  max-width: 412px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

/* Navbar */
.navbar-set {
  width: 100vw;
  max-width: 412px;  
  background: #ffffff;
  height: 150px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background: #ffffff;

}
.navbar img {
  width: 25px;
  height: 25px;
  margin: 30px 20px;
}

/* Tabs */
.article-navbar {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 412px;
  align-items: center;
  margin-top: 20px;
  background: #ffffff;

}
.article-tab {
  color: #cdcdcd;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease;

}
.article-tab.active {
  color: #000;
}
.article-tab.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #000;
}

/* Grid */
.article-grid {
  margin: 150px auto 48px auto;
  gap: 20px;
  z-index: 1;
}
.article-card {
  margin-bottom: 40px;
}

.article-img {
  width: 90vw;
  max-width: 364px;
}