/* src/styles/Auction.css */

.Auction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;

}

/* --- Navbar --- */
.Auction .navbar-set {
  width: 100vw;
  max-width: 412px;  
  background: #ffffff;
  height: 220px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background: #ffffff;

  /* display: flex;
  justify-content: flex-end;
  width: 100vw;
  max-width: 412px;
  height: 10vw;
  min-height: 48px;
  background: #ffffff;
  z-index: 100; */
}

.navbar img {
  width: 25px;
  height: 25px;
  margin: 40px 20px;

  /* width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 3vw;
  margin-top: 5vw; */
}

/* --- Auction NavBar --- */
.auction-navbar {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 412px;
  align-items: center;
  margin-top: 20px;
  background: #ffffff;


  /* display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 412px;
  height: 60px;
  align-items: center; */
}

.auction-tab {
  color: #cdcdcd;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease;
  margin-bottom: 40px;
}

.auction-tab.active {
  color: #000;
}

.auction-tab.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: black;
  margin: 0 auto;
  width: 100%;
}

/* --- Tag List --- */
.Auction .tag-list {
  background: #ffffff;
  color: #ffffff;
  display: flex;
  justify-content: flex-start; 
  gap: 10px;
  width: 100%; 
  max-width: 412px; 
  /* margin-top: 50px; */
  margin-bottom: 60px;
  padding-left: 20px; 
  box-sizing: border-box; /* 패딩 포함 계산 */
}

.tag {
  width: 12vw;
  max-width: 73px;
  height: 5vw;
  max-height: 35px;
  border: 2px solid #1d2087;
  background-color: #fff;
  color: #1d2087;
  border-radius: 10px;
  padding: 4px 10px;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: clamp(10px, calc(14 / 360 * 100vw), 14px);
  text-align: center;
}

.tag.active {
  color: #fff;
  background: #1d2087;
}

/* --- Event Image --- */
.event-img-wide {
  width: 90vw;
  max-width: 364px;
  margin: 220px 0 20px 0;
  border-radius: 10px;
}

/* --- Artwork Grid --- */
.artwork-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 100px;
  background-color: #fff;
}

/* --- No Artwork Message --- */
.no-artwork {
  color: #888;
  font-size: 14px;
  margin-top: 20px;
}

