/* src\styles\Docent.css */

.docent {
  width: 100%;
  max-width: 412px;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.search-bar {
  width: 82vw;
  height: 12vw;
  max-width: 370px;
  max-height: 54px;
  background-color: #F0F0F5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin:  30px 20px 44px 20px;
  gap: 2vw;
}

.search-bar input {
  flex: 1;
  border: none;
  background: none;
  font-size: 4vw;
  outline: none;
}

.search-icon,
.scan-icon {
  width: 25px;
  height: 25px;
}

.docent .section {
  width: 100%;
  margin: 0 0 70px 20px;
}

.docent .subtitle1 {
  margin-bottom: 36px;
}

.ranking-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

