/* src\styles\Docent.css */

.docent {
  width: 100%;
  max-width: 412px;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.search-bar {
  width: 80vw;
  max-width: 370px;
  height: 12vw;
  max-height: 54px;
  background-color: #F0F0F5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  /* margin:  30px 20px 44px 20px; */
  margin: 30px auto;
  gap: 8px;
}

.search-bar input {
  flex: 1;
  border: none;
  background: none;
  font-family: 'Noto Serif', sans-serif;
  font-weight: 400;
  font-size: clamp(14px, calc(18 / 360 * 100vw), 18px);
  outline: none;
}

.search-icon,
.scan-icon {
  width: 25px;
  height: 25px;
}

.docent .section {
  width: 100%;
  margin: 0 0 70px 20px;
}

.docent .subtitle1 {
  margin-bottom: 36px;
}

.ranking-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

