/* src/styles/Landing.css */
.signUpPage {
  display: flex;
  flex-direction: column;        /* 세로로 배치 */
  justify-content: space-between;/* 위-아래 끝으로 정렬 */
  align-items: center;           /* 가로 중앙 정렬 */
  height: 100vh;                 /* 전체 화면 높이 */
  box-sizing: border-box;
  padding: 130px 0 114px 0;                /* 위아래 여백 */
  margin: 0;
}

/* ===== 로고 ===== */
.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 25vh;
  max-width: 238px;
  height: auto;
}

/* ===== 버튼 ===== */
.buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 10vw;
  margin-bottom: 0;
  padding: 0;
}

/* ===== 하단 텍스트 ===== */
.signUpMore {
  text-align: center;
  margin: 0;
  padding: 0;
}
