/* src/styles/textStyles.css */

.title1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: clamp(18px, calc(30 / 360 * 100vw), 30px);
}

.title2 {
  font-family: 'Noto Serif KR', serif;
  font-weight: 600;
  font-size: clamp(18px, calc(30 / 360 * 100vw), 30px);
}

.title3 {
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  font-size: clamp(18px, calc(30 / 360 * 100vw), 30px);
}

.subtitle1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: clamp(16px, calc(22 / 360 * 100vw), 22px);

}

.subtitle2 {
  font-family: 'Noto Serif', sans-serif;
  font-weight: 400;
  font-size: clamp(14px, calc(18 / 360 * 100vw), 18px);
}

.subtitle3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: clamp(14px, calc(18 / 360 * 100vw), 18px);
}

.subtitle4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: clamp(10px, calc(14 / 360 * 100vw), 14px);
}

.text1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: clamp(12px, calc(14 / 360 * 100vw), 14px);
}

.text2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 350;
  font-size: clamp(10px, calc(11 / 360 * 100vw), 11px);
}

.text3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: clamp(10px, calc(12 / 360 * 100vw), 12px);
}

.text4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 350;
  font-size: clamp(10px, calc(13 / 360 * 100vw), 14px);
}

.text5 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 250;
  font-size: clamp(10px, calc(10 / 360 * 100vw), 10px);
}